.address
  padding-left: 10px
  &__ico
    width: 40px
    height: 40px
  &__logo
    .address__ico
      width: auto
      height: auto
  &__place,
  &__phone,
  &__mail
    display: flex
    align-items: center
    padding-top: 40px
  &__txt
    color: $color-dark
    padding-left: 30px
    display: flex
    flex-direction: column
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 22px
    & + .address__txt
      padding-top: 20px
  &__head
    padding: 70px 0 30px
    color: $color-dark
    font-weight: 800
    font-size: 24px
    line-height: 33px

  &.address__repair
    padding-left: unset
    .address
      &__ico
        width: 120px
        height: 120px
      &__txt
        color: $color-blue
        padding-left: 30px
        display: flex
        flex-direction: column
        font-style: normal
        font-weight: normal
        font-size: 36px
        line-height: 50px
        & + .address__txt
          padding-top: 20px
      &__head
        padding: 70px 0 30px
        color: $color-dark
        font-weight: 800
        font-size: 36px
        line-height: 50px

@media screen and (min-width: 768px)
  .address
    padding-left: 50px