.box3x
  display: flex
  padding: 100px 0 100px 0
  &__item
    display: flex
    flex-direction: column
    flex: 1 1 100%
    & + .box3x__item
      margin-left: 50px
  &__head
    font-style: normal
    font-weight: normal
    font-size: 36px
    line-height: 50px
    color: $color-dark
    margin: 60px 0 40px 0
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 50%
      height: 1px
      background: $color-blue
  &__txt
    font-style: normal
    font-weight: normal
    font-size: 32px
    line-height: 44px
    color: $color-black

@media screen and (min-width: 768px)
  .box3x
    & + .box3x
      margin-left: 50px
    &__item
      flex: 1 1 33.33%