.form
  &__fix

    &--txt
      border: 1px solid $color-white
      box-sizing: border-box
      border-radius: 40px
      width: 100%
      height: 141px
      background: $color-blue
      color: $color-white
    &--name,
    &--phone
      border: 1px solid $color-white
      box-sizing: border-box
      border-radius: 40px
      background: $color-blue
      color: $color-white
      height: 60px