.work
  &-bg
    background: url("../images/mainPG1.jpg") no-repeat 100% 82%
  &__list
    display: flex
    flex-wrap: wrap
    padding-top: 33px
    width: 84%
  &__box
    display: flex
    flex: 1 1 50%
    margin-bottom: 85px
    &--num
      font-style: normal
      font-weight: normal
      font-size: 84px
      line-height: 77px
      color: $color-blue
    &--info
      display: flex
      flex-direction: column
      align-items: flex-start
    &--head
      font-style: normal
      font-weight: normal
      font-size: 28px
      line-height: 100%
      padding: 5px 0 30px 0
      color: $color-dark
      border-bottom: 0.5px solid $color-blue
    &--txt
      font-style: normal
      font-weight: normal
      font-size: 22px
      line-height: 31px
      color: $color-blue-d
      p
        padding: 0 10px
      ul
        padding: 0 25px
