<div class="wrapper">
    <div class="wrapper__content wrapper__content--short">
        <h1 class="is-dark">
            Компания “Атлант Сервис”
        </h1>
        <div class="text">
            <p>
                Сотрудничество с нами гарантирует Вам повышение своей
                эффективности. Это возможно  благодаря тому, что мы
                ремонтируем полуприцепы, рефрижераторы качественно и быстро.
            </p>
            <img class="is-img-right" src="/images/car-1.jpg" alt="">
            <p>
                Делать столь смелые заявления нам позволяет уровень квалификации
                наших сотрудников, постоянно действующая программа технических
                тренингов для персонала и эффективная система финишного
                и промежуточного контроля качества. История нашей деятельности
                начинается в 2006 году, с сервисного подразделения транспортной
                компании Атлант, занимавшейся рефрижераторными перевозками.
                В 2011 году это направление выделилось в отдельный бизнес-процесс. Чуть
                позже к нам присоединились выходцы из Российских представительств
                ведущих мировых производителей рефрижераторного оборудования Carrier
                и Thermo King.
            </p>
            <p>
                На начальном этапе деятельности Атлант-Сервис специализировался
                на сервисном обслуживании и ремонтах рефрижераторного оборудования.
                Квалификация сотрудников и наработки по поставкам запасных частей
                позволили начать выполнение сложных восстановительных ремонтов для
                нескольких дилерских центров коммерческой техники. В процессе
                развития технического потенциала фирмы были освоены технологии
                восстановления изотермических кузовов рефрижераторных транспортных
                средств. В начале 2013 года компанией Атлант-Сервис подписаны
                договора о сервисном партнерстве с корпорациями Schmitz Cargobull,
                Krone и Kögel и договора с ведущими страховыми компаниями из
                ТОП - 20.
            </p>
            <img class="is-img-left" src="/images/car-1.jpg" alt="">
            <p>
                В апреле 2013 года запущен в эксплуатацию первый сервисный участок,
                позволяющий выполнять комплекс работ по кузовному ремонту
                коммерческой техники и расположенный в южной части Московского
                региона (М2).  Дальнейшее развитие компании прогнозируется путем
                открытия подобных сервисных центров на западном (М1), северном (М10)
                и восточном (М7) направлениях, с расположением между первым и
                вторым бетонным кольцами (А107 – А 108).  Расположение сервисных
                центров будет привязано к дилерским центрам основных производителей
                тягачей (существующий сервисный центр расположен по соседству с
                дилерским центром MAN Truck & Bus).
            </p>
            <p>
                Подобная стратегия позволяет транспортным компаниям сократить
                холостые пробеги техники и временные издержки на проведение
                ремонтов, что в реалиях Московского региона является существенным
                аргументом при выборе нашей компании в качестве сервисного партнера.
            </p>
            <p>
                Использование новейших технологий и оборудования, следование
                последним стандартам в области обслуживания и производства,
                внедрение в технологические процессы современных информационных
                технологий позволило нам достичь высокого уровня во
                взаимоотношениях с партнерами и клиентами, и сделало
                возможным дальнейшее взаимовыгодное развитие этих отношений.
            </p>
            <p>
                Вместе мы сможем сделать ваши финансовые затраты минимальными и
                прогнозируемыми.
            </p>
            <p>
                С нами вы сэкономите самый ценный и невосполнимый ресурс – Ваше
                время.
            </p>
        </div>
    </div>
</div>