<div class="wrapper">
    <div class="wrapper__content wrapper__content--short">
        <h2 class="is-dark animate animate-up">
            Премущества работы с нами
        </h2>
        <div class="box4x">
            <div class="box4x__item animate animate-up" >
                <div class="box4x__roundwhite">
                    <svg class="box4x__ico">
                        <use xlink:href="/svg/sprite.svg#warranty"></use>
                    </svg>
                </div>
                <div class="box4x__greybg">
                    <div class="box4x__txt">
                        Более 10 лет
                        на рынке
                    </div>
                </div>
            </div>
            <div class="box4x__item animate animate-up delay-One">
                <div class="box4x__roundwhite">
                    <svg class="box4x__ico">
                        <use xlink:href="/svg/sprite.svg#security-camera"></use>
                    </svg>
                </div>
                <div class="box4x__greybg">
                    <div class="box4x__txt">
                        Стоянка под
                        охраной
                    </div>
                </div>
            </div>
            <div class="box4x__item animate animate-up delay-Two">
                <div class="box4x__roundwhite">
                    <svg class="box4x__ico">
                        <use xlink:href="/svg/sprite.svg#gearhend"></use>
                    </svg>
                </div>
                <div class="box4x__greybg">
                    <div class="box4x__txt">
                        10 тысяч запчастей
                        в наличии
                    </div>
                </div>
            </div>
            <div class="box4x__item animate animate-up delay-Three">
                <div class="box4x__roundwhite">
                    <svg class="box4x__ico">
                        <use xlink:href="/svg/sprite.svg#placeholder"></use>
                    </svg>
                </div>
                <div class="box4x__greybg">
                    <div class="box4x__txt">
                        Удобно добраться
                        трасса М2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>