<div class="wrapper">
    <div class="wrapper__content wrapper__content--short">
        <h2 class="is-dark animate animate-up">
            Записаться на ремонт
        </h2>
        <div class="box2x">
            <div class="box2x__item animate animate-up delay-One">
                <div class="address address__repair">
                    <div class="address__place">
                        <svg class="address__ico">
                            <use xlink:href="/svg/sprite.svg#compass"></use>
                        </svg>
                        <div class="address__txt">
                            <div class="address__head">
                                Схема проезда
                            </div>
                            <a href="shema.html">
                                Москва, г.о. Щербинка, ул. Южная, д. 10
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box2x__item animate animate-up delay-Two">
                <div class="address address__repair">
                    <div class="address__phone">
                        <svg class="address__ico">
                            <use xlink:href="/svg/sprite.svg#phone-call"></use>
                        </svg>
                        <div class="address__txt">
                            <div class="address__head">
                                Телефон
                            </div>
                            <a href="tel:84996535673">
                                8 (499) 653-56-73 (многоканальный)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box4x animate animate-up">
            <div class="box4x__item">
                <label for="name-connect" class="label">Name</label>
                <input id="name-connect" class="form__connect--name" type="text">
            </div>
            <div class="box4x__item">
                <label for="phone-connect" class="label">Phone</label>
                <input id="phone-connect" class="form__connect--phone" type="text">
            </div>
            <div class="box4x__item">
                <label for="mail-connect" class="label">Mail</label>
                <input id="mail-connect" class="form__connect--email" type="text">
            </div>
            <div class="box4x__item">
                <div class="btn-white btn-white__big">
                    Заказать звонок
                </div>
            </div>
        </div>

    </div>
</div>



