<div class="wrapper is-white-g-bg pad-top-100">
    <div class="left-rnd">
        <div class="wrapper__content wrapper__content--short br40 is-white-bg">
            <h2 class="is-dark animate animate-up">
                Калькуляция по фотоматериалу
            </h2>
        </div>
    </div>
</div>
<div class="wrapper is-white-g-bg">
    <div class="wrapper__content wrapper__content--short">
        <form action="/myaction.php">
            <div class="box4x animate animate-up">
                <div class="box4x__item">
                    <input class="form__connect--name" type="text" placeholder="Имя">
                </div>
                <div class="box4x__item">
                    <input class="form__connect--name" type="text" placeholder="Телефон">
                </div>
                <div class="box4x__item">
                    <input class="form__connect--name" type="text" placeholder="Прикрепить файл +">
                </div>
                <div class="box4x__item">
                    <button class="btn-white-bg btn-white-bg__small">
                        Оценить стоимость ремонта
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
