<div class="wrapper">
    <div class="wrapper__content wrapper__content--short">
        <h1 class="is-dark">
            Калькулятор ТО
        </h1>
        <h3 class="is-dark">
            Выберите оборудование
        </h3>
        <div class="text">
            тут куркулятор, собственно)
        </div>
    </div>
</div>