<div class="wrapper padding100 connect-bg">
    <div class="wrapper__content wrapper__content--short">
        <h2 class="is-dark no-wrap">
            Выполним
            <span class="is-red">ремонт</span>
            любой сложности в
            <span class="is-blue">кратчайшие</span> сроки
        </h2>
        <form class="form__connect">
            <div class="form__connect--group">
                <label for="name-connect" class="label">Name</label>
                <input id="name-connect" class="form__connect--name" type="text">
            </div>
            <div class="form__connect--group">
                <label for="phone-connect" class="label">Phone</label>
                <input id="phone-connect" class="form__connect--phone" type="text">
            </div>
            <div class="form__connect--group">
                <label for="email" class="label">E-mail</label>
                <input id="email" class="form__connect--email" type="text">
            </div>
            <div class="form__connect--group">
                <button class="btn-white btn-white__big w360">
                    Отправить
                </button>
            </div>
            <div class="form__connect--group">
                <button class="btn-white btn-white__big">
                    Бесплатно перезвоним и проконсультируем
                </button>
            </div>
        </form>
    </div>
</div>