<div class="wrapper">
    <div class="wrapper__content wrapper__content--short">
        <div class="box3x">
            <div class="box3x__case">
                <div class="box3x__roundwhite">
                    <svg class="box3x__ico">
                        <use xlink:href="/svg/sprite.svg#number-one"></use>
                    </svg>
                </div>
                <div class="box3x__head">
                    Сервис партнер №1
                </div>
                <div class="box3x__txt">
                    Чиним Вашу технику
                    с 2006 года
                </div>
            </div>
            <div class="box3x__case">
                <div class="box3x__roundwhite">
                    <svg class="box3x__ico">
                        <use xlink:href="/svg/sprite.svg#quality-assurance"></use>
                    </svg>
                </div>
                <div class="box3x__head">
                    Гарантия качества
                </div>
                <div class="box3x__txt">
                    Соблюдаем заводские технологии
                </div>
            </div>
            <div class="box3x__case">
                <div class="box3x__roundwhite">
                    <svg class="box3x__ico">
                        <use xlink:href="/svg/sprite.svg#clock"></use>
                    </svg>
                </div>
                <div class="box3x__head">
                    Короткие сроки
                </div>
                <div class="box3x__txt">
                    Ценим Ваше <br> время
                </div>
            </div>
        </div>
    </div>
</div>