<div class="wrapper">
    <div class="wrapper__content wrapper__content--short">
        <div class="box3x">
            <div class="box3x__item">
                <label for="name-connect" class="label">Name</label>
                <input id="name-connect" class="form__connect--name" type="text">
            </div>
            <div class="box3x__item">
                <label for="phone-connect" class="label">Name</label>
                <input id="phone-connect" class="form__connect--name" type="text">
            </div>
            <div class="box3x__item">
                <div class="btn-white btn-white__big">
                    Заказать звонок
                </div>
            </div>
        </div>
    </div>
</div>