<div class="wrapper is-blue-bg ">
    <div class="wrapper__content wrapper__content--short">
        <h2 class="is-white animate animate-up" id="anchor-form">
            Узнать стоимость ремонта
        </h2>
        <form class="form__fix animate animate-up">
            <div class="form__group">
                <label for="name-fix" class="label">Имя</label>
                <input id="name-fix" class="form__fix--name" type="text">
            </div>
            <div class="form__group">
                <label for="phone-fix" class="label">Телефон</label>
                <input id="phone-fix" class="form__fix--phone" type="text">
            </div>
            <div class="form__group order1">
                <button class="btn-blue btn-blue__big">
                    Прикрепить файл
                </button>
            </div>
            <div class="form__group order1">
                <button class="btn-blue btn-blue__big">
                    Отправить
                </button>
            </div>
            <div class="form__group">
                <label for="comment" class="label">Коментарий</label>
                <input id="comment" class="form__fix--txt" type="text">
            </div>
        </form>
    </div>
</div>