<div class="wrapper is-blue-bg padding100">
    <div class="wrapper__content wrapper__content--short">
        <h2 class="is-white">
            Узнать стоимость ремонта
        </h2>
        <form class="form__fix">
            <input class="form__fix--name" type="text">
            <input class="form__fix--phone" type="text">
            <button class="btn-blue btn-blue__big">
                Прикрепить файл
            </button>
            <button class="btn-blue btn-blue__big">
                Отправить
            </button>
            <input class="form__fix--txt" type="text" >
        </form>
    </div>
</div>