<div class="wrapper is-white-g-bg">
    <div class="wrapper__content wrapper__content--short pad-bot-100">
        <h1 class="is-dark">
            Ремонт полуприцепов
        </h1>
        <div class="text br40 is-white-bg">
            <p>
            Современные автомобили используют для перевозки по территории России,
                СНГ и Евросоюза полуприцепы и прицепы. Любая техника рано или поздно
                подвержена появлению неисправностей. Если вовремя обратиться за
                диагностикой, ремонтом и техническим обслуживанием в сервисные
                центры, располагающие запчастями и расходными материалами от
                заводов-производителей, а также хорошо обученным и опытным
                персоналом, вы без труда сможете продлить службу полуприцепа.
            </p>
            <p>
            В настоящее время автотехника имеет немалую стоимость, поэтому не стоит
                легкомысленно относиться к даже мелким неполадкам и поломкам.
                Своевременное обращение в сервисный центр поможет продлить срок
                эксплуатации вашей техники.
            </p>
            <p>
            ООО "Атлант Сервис" проводит ремонт полуприцепов таких производителей,
                как KOEGEL, KRONE, SHMITZ, WELTON, ТОНАР, GRUNWALD, HAMBAUR, НОВТРАК.
                Наши специалисты располагают новейшим оборудованием для проведения
                компьютерной диагностики, а также заводскими запчастями для ремонта
                любой поломки полуприцепа.
            </p>
            <p>
            Чтобы вашу компанию заметили, мы можем провести брендирование вашей техники,
                поверхности которого - это бесплатные рекламные площадки. Вместе с
                ремонтом, мы можем повторить любое заводское брендирование. Мы
                брендируем любые полуприцепы.
            </p>
            <p>
            Если у вас изотермический фургон и появилась необходимость в его
                переоснащении, к примеру, в рефрижераторный, мы с радостью поспособствуем
                в осуществлении этой задумки. Необходимо смонтировать электрические
                кабели и топливные магистрали внутри конструкции пола, прикрепить
                топливный бак на кронштейнах опорных домкратов, доработать переднюю
                стенку и подготовить ее для монтажа подходящего по производительности
                рефрижераторного оборудования.
            </p>
            <p>
            Чтобы разместить возвратную тару, можно повесить ящики на 16 или 36
                поддонов перед осевыми агрегатами или в заднем свесе. Любая
                модернизация вашего транспортного средства технически возможна и
                будет выполнена оперативно и качественно.
            </p>
            <p>
            Для защиты техники от последствий нагрузок и неровных дорог, можно
                установить защиту: дополнительные защитные стенки, защитные профиля
                передних стенок и защитные полосы боковых стенок. Данные элементы
                будут воспринимать точечные воздействия от груза и распределять их
                по большой площади сэндвич панели. Защитные элементы в постоянном
                наличии в наших складских запасах, и мы готовы оперативно дооснастить
                ими Вашу технику.
            </p>
            <p>
            Также мы осуществляем установку ящиков для инструментов, ящиков для
                поддонов, топливных баков, баков для воды и боксов для огнетушителей,
                чтобы сделать труд ваших водителей более удобным и безопасным.
            </p>
            <p>
            Провести установку усиленных защитных отбойников на полуприцеп - значит
                сохранить Ваше имущество от различных повреждений при проведении
                погрузочно-разгрузочных работ. Дополнительные усиленные резиновые
                или металлические отбойники заднего портала доступны в качестве
                оригинальных запасных частей.
            </p>
            <p>
            Если вы установите навесное оборудование рефрижератора, то есть боковые
                отбойники, то сможете защитить полуприцеп от последствий ДТП.
            </p>
            <p>
            Все работы по ремонту в нашем автосервисе проводятся на закрытой
                охраняемой территории, так что за сохранность автомобиля и
                перевозимого груза можно не беспокоиться. Своевременная профилактика
                и качественный ремонт полуприцепов – залог успешной и длительной
                эксплуатации грузовых автомобилей.
            </p>
        </div>
    </div>
</div>
{% include "src/njk/parts/advantages.njk" %}
{%
    set items = [
        {
            img:'image_01.jpg',
            title:'image_01.jpg',
            txt:'Ремонт полуприцепов <span class="is-blue">Shmitz</span>'
        },
        {
            img:'image_02.jpg',
            title:'image_02.jpg',
            txt:'Ремонт полуприцепов <span class="is-blue">Kogel</span>'
        },
        {
            img:'image_03.jpg',
            title:'image_03.jpg',
            txt:'Ремонт полуприцепов <span class="is-blue">KRONE</span>'
        },
        {
            img:'image_04.jpg',
            title:'image_04.jpg',
            txt:'Ремонт полуприцепов <span class="is-blue">TOHAP</span>'
        },
        {
            img:'image_05.jpg',
            title:'image_05.jpg',
            txt:'Ремонт <span class="is-blue">изотермических</span> полуприцепов'
        },
        {
            img:'image_06.jpg',
            title:'image_06.jpg',
            txt:'Ремонт полуприцепов <span class="is-blue">WIELTON</span>'
        },
        {
            img:'image_07.jpg',
            title:'image_07.jpg',
            txt:'Ремонт осей <span class="is-blue">BPW</span>'
        },
        {
            img:'image_08.jpg',
            title:'image_08.jpg',
            txt:'Ремонт осей <span class="is-blue">SAF</span>'
        },
        {
            img:'image_09.jpg',
            title:'image_09.jpg',
            txt:'Ремонт систем<span class="is-blue">WABCO</span>'
        },
        {
            img:'image_10.jpg',
            title:'image_10.jpg',
            txt:'Ремонт полуприцепов <span class="is-blue">Grunwald</span>'
        },
        {
            img:'image_11.jpg',
            title:'image_11.jpg',
            txt:'Ремонт полуприцепов <span class="is-blue">Humbaur</span>'
        },
        {
            img:'image_12.jpg',
            title:'image_12.jpg',
            txt:'Ремонт полуприцепов <span class="is-blue">НОВТРАК</span>'
        }

    ]
%}
<div class="wrapper">
    <div class="wrapper__content wrapper__content--long">
        <div class="box2x">
            {% for item in items %}
                <div class="box2x__item--wrap">
                    <div class="box2x__item">
                        <div class="box2x__img">
                            <img src="/images/fix_pol/{{ item.img }}" alt="{{ item.title }}">
                        </div>
                        <div class="box2x__about">
                            <a href="">
                                {{ item.txt|safe }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>