<div class="wrapper is-blue-bg">
    <div class="wrapper__content wrapper__content--long">
        <div class="footer__logo">
            <svg class="footer__ico">
                <use xlink:href="/svg/sprite.svg#logo_footer"></use>
            </svg>
        </div>
        <div class="footer">
            <div class="footer__column">
                <div class="footer__inf">
                    ООО  “Атлант-Сервис”
                </div>
                <div class="footer__inf">
                    г. Москва, г. Щербинка, ул. Южная, 10
                </div>
                <div class="footer__inf">
                    +7 499 653-56-73
                </div>
                <div class="footer__inf">
                    info@atlant-service.ru
                </div>
                <div class="footer__social">
                    <a href="">
                        <svg class="footer__ico">
                            <use xlink:href="/svg/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg class="footer__ico">
                            <use xlink:href="/svg/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg class="footer__ico">
                            <use xlink:href="/svg/sprite.svg#vk-social-logotype"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg class="footer__ico">
                            <use xlink:href="/svg/sprite.svg#odnoklassniki-logo"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg class="footer__ico">
                            <use xlink:href="/svg/sprite.svg#whatsapp"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__column">
                <div class="footer__column--head">
                    Компания
                </div>
                <ul class="footer__column--list">
                    <li>
                        <a href="">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Контакты
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Согласие на обработку персональных
                            данных
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Все услуги
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <div class="footer__column--head">
                    <a href="">
                        Поддержка клиентов
                    </a>
                </div>
                <ul class="footer__column--list">
                    <li>
                        <a href="">
                            Онлайн консультант
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Письмо руководству
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Доставка и оплата
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Отследить заказ
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>