<div class="wrapper">
	<div class="wrapper__content wrapper__content--short">
		<div class="header">
			<div class="header__address">
				Москва, г.о. Щербинка, ул. Южная, д. 10
			</div>
			<div class="header__btn">
				<a href="shema.html" class="btn-white btn-white__small">
					Схема проезда
				</a>
				<div class="btn-white btn-white__small">
					Построить маршрут
				</div>
			</div>
			<div class="header__mail">
				<svg class="ico mail">
					<use xlink:href="/svg/sprite.svg#email"></use>
				</svg>
				<a href="mail:info@atlant-service.ru">info@atlant-service.ru</a>
			</div>
			<div class="header__phone">
				<svg class="ico phone">
					<use xlink:href="/svg/sprite.svg#phone-call"></use>
				</svg>
				<a href="tel:+74996535673">+7499 653-56-73</a>
			</div>
		</div>

	</div>
	<div class="wrapper__content wrapper__content--short">
		<div class="header">
			<svg class="header__logo">
				<use xlink:href="/svg/sprite.svg#logo"></use>
			</svg>
			<div class="header__elem">
				<div class="header__search">
					<div class="header__search--border">
						<svg class="ico zoom">
							<use xlink:href="/svg/sprite.svg#zoom"></use>
						</svg>
					</div>
					<input type="text">
				</div>
				<div class="header__btn">
					<a href="contacts.html" class="btn-tranprarent">
						Контакты
					</a>
					<div class="btn-tranprarent">
						Вход
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper__content wrapper__content--short">
		{% include "./nav.njk" %}
	</div>
</div>
