<div class="wrapper">
    <div class="wrapper__content wrapper__content--short wrapper__reg">
        <h2 class="is-dark animate animate-up">
            Вход / Регистрация
        </h2>
        <div class="box2x">
            <div class="box2x__item animate animate-up">
                <h3 class="is-dark">
                    Авторизация
                </h3>
                <div class="case">
                    <div class="case__one">
                        <div class="case__head">
                            Логин
                        </div>
                    </div>
                    <div class="case__two">
                        <div class="case__input">
                            <input type="text">
                        </div>
                        <div class="case__txt">
                            Укажите логин, e-mail или номер телефона,
                            котрые вы использовали при регистрации
                        </div>
                    </div>
                </div>
                <div class="case">
                    <div class="case__one">
                        <div class="case__head">
                            Пароль
                        </div>
                    </div>
                    <div class="case__two">
                        <div class="case__input">
                            <input type="text">
                        </div>
                        <div class="case__txt">
                            Если вы не помните свой пароль, просто оставьте
                            это поле пустым и вы получите новый, вместе со
                            ссылкой на активацию
                        </div>
                    </div>
                </div>
            </div>
            <div class="box2x__item animate animate-up delay-One">
                <h3 class="is-dark">
                    Регистрация
                </h3>
                <form>
                    <div class="case">
                        <div class="case__one">
                            <div class="case__head">
                                Имя
                            </div>
                        </div>
                        <div class="case__two">
                            <input type="text" class="case__input">
                        </div>
                    </div>
                    <div class="case">
                        <div class="case__one">
                            <div class="case__head">
                                E-mail
                            </div>
                        </div>
                        <div class="case__two">
                            <input type="text" class="case__input">
                        </div>
                    </div>
                    <div class="case">
                        <div class="case__one">
                            <div class="case__head">
                                Пароль
                            </div>
                        </div>
                        <div class="case__two">
                            <input type="text" class="case__input">
                        </div>
                    </div>
                    <div class="case">
                        <div class="case__one">
                            <div class="case__head">
                                Телефон
                            </div>
                        </div>
                        <div class="case__two">
                            <input type="text" class="case__input">
                        </div>
                    </div>
                    <div class="case">
                        <div class="case__one">&nbsp;</div>
                        <div class="case__two">
                            <div class="btn-white btn-white__small to-right">
                                Регистрация
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>