<div class="wrapper">
    <div class="wrapper__content">
        <div class="animate animate-up">
            <div class="mainslider">
                <div>
                    <div class="mainslider__box">
                        <div class="mainslider__img">
                            <img src="images/mainslider/slide-1.jpg" alt="">
                        </div>
                        <div class="mainslider__info">
                            <div class="mainslider__txt">
                                Сложный
                                <span class="is-blue">кузовной ремонт </span>
                                наша специализация
                            </div>
                            <div class="mainslider__btn">
                                <div class="btn-white btn-white__big">
                                    Записаться на ремонт
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="mainslider__box">
                        <div class="mainslider__img">
                            <img src="images/mainslider/slide-1.jpg" alt="">
                        </div>
                        <div class="mainslider__info">
                            <div class="mainslider__txt">
                                Сложный
                                <span>кузовной ремонт </span>
                                наша специализация
                            </div>
                            <div class="mainslider__btn">
                                <div class="btn-white btn-white__big">
                                    Записаться на ремонт
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>