<div class="nav">
    <div class="menu">
        <div class="toggle-nav__bubble">
            <div class="toggle-nav">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navigation__wrapper">
            <ul class="navigation">
                <li>
                    <div class="navigation__drop">
                        <a class="active" href="about.html">О компании</a>
                        <ul class="navigation__drop--list">
                            <li>
                                <a href="#">
                                    some item one
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item two
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item three
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="fix_pol.html">Ремонт полуприцепов</a>
                </li>
                <li>
                    <a href="spares.html">Запчасти</a>
                </li>
                <li>
                    <a href="calc.html">Калькулятор ТО</a>
                </li>
                <li>
                    <a href="tehcenter.html">Техцентр</a>
                </li>
                <li>
                    <a href="tehdoc.html">Тех. документация</a>
                </li>
            </ul>
        </div>
    </div>
</div>
