<div class="wrapper is-white-g-bg">
    <div class="wrapper__content wrapper__content--long">
        <div class="slider animate animate-up">
            <div class="serviceslider">
                <div>
                    <div class="serviceslider__box">
                        <div class="serviceslider__img">
                            <img src="images/serviceslider/slide-1.jpg" alt="">
                        </div>
                        <div class="serviceslider__info">
                            <div class="serviceslider__txt">
                                Регламентное ТО
                                в день обращения
                            </div>
                            <div class="serviceslider__btn">
                                <div class="btn-white btn-white__big">
                                    Оставить заявку
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="serviceslider__box">
                        <div class="serviceslider__img">
                            <img src="images/serviceslider/slide-2.jpg" alt="">
                        </div>
                        <div class="serviceslider__info serviceslider__info--left">
                            <div class="serviceslider__txt">
                                Получение СПС
                                продление АТР
                            </div>
                            <div class="serviceslider__btn">
                                <div class="btn-white btn-white__big">
                                    Подробнее
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="serviceslider__box">
                        <div class="serviceslider__img">
                            <img src="images/serviceslider/slide-3.jpg" alt="">
                        </div>
                        <div class="serviceslider__info">
                            <div class="serviceslider__txt">
                                Минимальные сроки
                                проведения работ
                            </div>
                            <div class="serviceslider__btn">
                                <div class="btn-white btn-white__big">
                                    Виды работ
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="serviceslider__box">
                        <div class="serviceslider__img">
                            <img src="images/serviceslider/slide-4.jpg" alt="">
                        </div>
                        <div class="serviceslider__info serviceslider__info--left">
                            <div class="serviceslider__txt">
                                Окрашивание
                                и брендирование
                            </div>
                            <div class="serviceslider__btn">
                                <div class="btn-white btn-white__big">
                                    Подробнее
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>