<div class="wrapper is-white-g-bg pad-bot-100">
    <div class="wrapper__content wrapper__content--short">
        <h1 class="is-dark">
            Запчасти Shmitz
        </h1>
        <div class="text br40 is-white-bg">
            <h3 class="is-dark">
                Запчасти Shmitz cargobull
            </h3>
            <p>
                Мы предлагаем широкий спектр запчастей для прицепной техники
                Shmitz cargobull (Шмитц каргобул), всегда в наличии на наших
                складах широкий ассортимент запчастей и расходных материалов.
                Мы предлагаем запчасти для ходовой,  рефрижераторов и
                многое другое.
            </p>
            <p>
                Более подробную информацию вы можете получить у наших менеджеров.
            </p>
            <p>
                В данном разделе вы можете получить рекомендованную производителем
                стоимость запчастей по каталожному номеру.
            </p>
        </div>
    </div>
</div>