<div class="wrapper">
    <div class="wrapper__content wrapper__content--short">
        <h1 class="is-dark">
            Техцентр
        </h1>
        <div class="text">
            <p>
                Большинство грузов, требующих при своей транспортировке соблюдения определенного
                температурного режима, перемещается в пространстве при помощи современных
                рефрижераторных полуприцепов, представляющих собой высокотехнологичное сочетание
                механики, пневматики, гидравлики и электроники. Рано или поздно перед владельцем
                подобной техники встает вопрос ее технического обслуживания и ремонта. Мы
                предлагаем решать его с нашей помощью. С точки зрения долгосрочного экономического
                эффекта этот вариант имеет следующие очевидные плюсы:
            </p>
            <ul>
                <li>
                    Мы досконально знаем технику, которую Вы эксплуатируете. Знаем не только ее слабые места и конструктивные недоработки, но и ее сильные стороны. Эти знания в сочетании с высоким уровнем квалификации наших механиков позволяют свести к минимуму время проведения работ, тем самым снизив простои и вытекающие из них издержки
                </li>
                <li>
                    наши наработки в области поставки запасных частей и расходных материалов позволяют предложить Вам как оригинальные запасные части по конкурентоспособным ценам, так и запасные части всех основных поставщиков компаний-производителей. В целом это дает возможность существенно снизить общий бюджет ремонтных и сервисных работ
                </li>
                <li>
                    для наших постоянных клиентов действует дифференцированная система скидок на оборудование, запасные части и сервисные услуги
                </li>
            </ul>
            <p>
                Оборудование нашего сервиса и квалификация нашего персонала позволяют решать весь спектр задач, связанных с техническим обслуживанием и ремонтом рефрижераторных агрегатов.
            </p>
            <p>
                С какой бы проблемой Вы к нам не обратились, мы с радостью поможем Вам ее решить.
            </p>
        </div>
    </div>
</div>