<div class="wrapper">
    <div class="wrapper__content wrapper__content--short">
        <h1 class="is-dark">
            Техническая документация
        </h1>
        <div class="case">
            <div class="case__one">
                <p>
                    Доступно только авторизированному пользователю
                </p>
            </div>
            <div class="case__two">
                <div class="btn-white btn-white__small w360 to-right">
                    Регистрация
                </div>
            </div>
        </div>
        <div class="text">
            <a href="" class="tehlink">
            SHMITZ - инструкция по эксплуатации  - фургон SKO
            </a>
            <a href="" class="tehlink">
            SCHMITZ - инструкция по эксплуатации - холодильная установка TKM
            </a>
            <a href="" class="tehlink">
            SCHMITZ - модельный ряд -  S.KO Cool и S.KO Express
            </a>
            <a href="" class="tehlink">
            SCHMITZ - модельный ряд - S.KO City, M.KO, Z.KO
            </a>
            <a href="" class="tehlink">
            SCHMITZ - брошюра - холодильная установка TKM
            </a>
            <a href="" class="tehlink">
            SCHMITS - брошюра - осевой агрегат ROTOS
            </a>
            <a href="" class="tehlink">
            KRONE - инструкция по эксплуатации - Cool Liner
            </a>
            <a href="" class="tehlink">
            KRONE - брошюра - осевой агрегат
            </a>
            <a href="" class="tehlink">
            KRONE - модельный ряд - Cool Liner, Dry Liner
            </a>
            <a href="" class="tehlink">
            KRONE - сервисная книжка
            </a>
            <a href="" class="tehlink">
            KOGEL - брошюра - осевой агрегат
            </a>
            <a href="" class="tehlink">
            KOGEL - модельный ряд - Kogel Box, Kogel Cool
            </a>
            <a href="" class="tehlink">
            CARRIER - руководство по эксплуатации MAXIMA 1000-1300-1300MT.pdf
            </a>
            <a href="" class="tehlink">
            CARRIER - руководство по эксплуатации SUPRA 750- 850- 950- 750МТ- 850МТ-950МТ .pdf
            </a>
            <a href="" class="tehlink">
            CARRIER - руководство по эксплуатации VECTOR 1350.pdf
            </a>
            <a href="" class="tehlink">
            CARRIER - руководство по эксплуатации VECTOR 1850-1850МТ.pdf
            </a>
            <a href="" class="tehlink">
            THERMO KING - руководство по эксплуатации SLe (SR-2).pdf
            </a>
            <a href="" class="tehlink">
            THERMO KING - руководство по эксплуатации SLX, SLXe, SLXi (SR-3).pdf
            </a>
            <a href="" class="tehlink">
            THERMO KING - руководство по эксплуатации Т-series.pdf
            </a>
            <a href="" class="tehlink">
            WABCO - описание T-EBS-E.pdf
            </a>
            <a href="" class="tehlink">
            KNORR BREMSE - описание TEBS-G.pdf
            </a>
            <a href="" class="tehlink">
            SAF - руководство - осевой агрегат.pdf
            </a>
            <a href="" class="tehlink">
            BPW-руководство ECO Plus.pdf
            </a>
            <a href="" class="tehlink">
            BAR - руководство по эксплуатации.PDF
            </a>
            <a href="" class="tehlink">
            BAR-модельный ряд.pdf
            </a>
            <a href="" class="tehlink">
            ZEPRO - инструкция по эксплуатации .pdf
            </a>

        </div>
    </div>
</div>