<div class="wrapper">
    <div class="wrapper__content wrapper__content--long">
        <h2 class="is-dark">
            Трейлерный сервисный центр
        </h2>
        <div class="text">
            <img class="is-img-right" src="/images/car-1.jpg" alt="">
            <p>
                Атлант-Сервис- официальный сервисный партнер концернов
                Schmitz, Cargobull, Krone, Kogel.
            </p>
            <p>
                Сервисный центр нашей компании специализируется на комплексном
                восстановительном ремонте трейлерной техники и кузовных
                надстроек ведущих европейских производителей прицепной
                техник. Все ремонты производятся по технологиям
                заводов-изготовителей с применением  оригинальных
                комплектующих и рекомендованных расходных материалов.
            </p>
            <p>
                Атлант-Сервис работает по прямым договорам с ведущими
                страховыми компаниями РФ.
                На все производимые работы и установленные запасные части
                предоставляется гарантия.
                Мы также предлагаем широкий спектр запчастец для прицепной
                техники, как в наличии на нашем складе, так и под заказ.
            </p>
            <p>
                Наша сервисная станция осуществляет техническое обслуживание
                рефрижераторов и гарантийный ремонт прицепов и полуприцепов
                компаний Shmitz, Cargobull, Krone, Kogel, Kassbohrer, Wielton.
                Основной задачей нашей компании является снижение временных
                и материальных затрат при проведении ремонтов Вашей техники
                с обязательным сохранением ее эксплуатационных свойств и
                рыночной стоимости.
            </p>
        </div>

    </div>
</div>