<div class="wrapper is-white-g-bg pad-bot-100">
    <div class="wrapper__content wrapper__content--short">
        <h1 class="is-dark">
            Вакансии
        </h1>
        <h3 class="is-dark">
            В нашем техцентре открыты следующие вакансии:
        </h3>
        <div class="text br40 is-white-bg">
            <ul>
                <li>Офис-менедждер</li>
                <li>Менеджер по работе с клиентами (активные продажи)</li>
                <li>Разнорабочий</li>
                <li>Автолесарь</li>
            </ul>
        </div>
        <h3 class="is-dark">
            По вопросам трудоустройства обращаться по следующим контактам:
        </h3>
        <div class="text br40 is-white-bg">
            <p>Прямой работодатель: Атлант - Сервис</p>
            <p>Контактное лицо: Золотарев Кирилл</p>
            <p>Телефон: <span class="is-blue">8 499 653-56-73</span> доб. 103</p>
            <p>E-mail: <a href="email:zolotarev@atlant-service.ru">zolotarev@atlant-service.ru</a></p>
        </div>
    </div>
</div>