<div class="wrapper padding100 work-bg">
    <div class="wrapper__content wrapper__content--short">
        <h2 class="is-dark">
            Схема работы с нами
        </h2>
        <div class="work__list">
            <div class="work__box">
                <div class="work__box--num">
                    1
                </div>
                <div class="work__box--info">
                    <div class="work__box--head">
                        Заполнить заявку
                    </div>
                    <div class="work__box--txt">
                        <ul>
                            <li>
                                Через форму на сайте
                            </li>
                            <li>
                                По телефону +7 499 653-56-73
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="work__box">
                <div class="work__box--num">
                    2
                </div>
                <div class="work__box--info">
                    <div class="work__box--head">
                        Приехать в выбранное время
                    </div>
                    <div class="work__box--txt">
                        <p>
                        Не забудьте доверенность на право сдачи и
                        получения автомобиля из ремонта и подписание
                        бухгалтерских документов
                        </p>
                    </div>
                </div>
            </div>
            <div class="work__box">
                <div class="work__box--num">
                    3
                </div>
                <div class="work__box--info">
                    <div class="work__box--head">
                        Ожидать
                    </div>
                    <div class="work__box--txt">
                        <p>
                        Для Вас есть комната ожидания
                        с Wi-Fi, а также гостиница “Relax”,
                        если ремонт продлится более суток
                        </p>
                    </div>
                </div>
            </div>
            <div class="work__box">
                <div class="work__box--num">
                    4
                </div>
                <div class="work__box--info">
                    <div class="work__box--head">
                        Оплатить
                    </div>
                    <div class="work__box--txt">
                        <ul>
                            <li>
                                Наличными в офисе
                            </li>
                            <li>
                                Безналичный расчет
                            </li>
                            <li>
                                Банковской картой
                                Visa/MasterCard
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        

    </div>
</div>