{% set navActiveItem = 0 %}
{% set title = "Главная" %}
{% extends "src/njk/layout/main.njk" %}
{% block content %}
{% include "src/njk/parts/header.njk" %}
{% include "src/njk/parts/mainslider.njk" %}
{% include "src/njk/parts/tsk.njk" %}
{% include "src/njk/parts/advantages.njk" %}
{% include "src/njk/parts/fix.njk" %}
{% include "src/njk/parts/slider.njk" %}
{% include "src/njk/parts/work.njk" %}
{% include "src/njk/parts/partners.njk" %}
{% include "src/njk/parts/connect.njk" %}
{% include "src/njk/parts/footer.njk" %}
{% endblock %}


