{% set navActiveItem = 0 %}
{% set title = "Схема" %}
{% extends "src/njk/layout/main.njk" %}
{% block content %}
    {% include "src/njk/parts/header.njk" %}
    {% include "src/njk/parts/tehdoc.njk" %}
    {% include "src/njk/parts/app4repair.njk" %}
    {% include "src/njk/parts/extend.njk" %}
    {% include "src/njk/parts/footer.njk" %}
{% endblock %}