{% set navActiveItem = 0 %}
{% set title = "Вакансии" %}
{% extends "src/njk/layout/main.njk" %}
{% block content %}
    {% include "src/njk/parts/header.njk" %}
    {% include "src/njk/parts/vacancy.njk" %}
    {% include "src/njk/parts/extend.njk" %}
    {% include "src/njk/parts/footer.njk" %}
{% endblock %}